#drop,
#wyszukaj,
#opis {
  float: left;
  background-color: #d0d4ca;
  margin: 8px;
  padding: 5px;
  width: 85vw;
  height: 3vw;

  border: #d0d4ca;
  border-radius: 20px;
}

#opis {
  height: 30vh;
}
#input_dodawanie {
  text-align: center;
  width: 15vw;
  height: 5vw;
  margin: 5px;
  font-size: 20px;
  background-color: #88a47c;
  border: #3c6255;
  color: #e6e2c3;
  border-radius: 20px;
  z-index: 1;
}
#img.lisc {
  z-index: 2;
}

#drop{
  height: 7vh;
}

#opinia{
  resize: none;
  background-color: #ECF4D6;
  border: none;
  font-family: arial;
  font-size: 16px;
  line-height: 16px;
  color: #282828;
  font-weight: 100;
  width: 1000px;
  height: 60px;
}

#data{
  font-size: 11px;
}

#name{
  font-weight: bold;
}

#Edit_button{
  position:sticky;
}