p {
  color: #1c315e;
  text-align: center;
  padding: 5px;
}

button.edytuj {
  float: right;
  margin: 5px;
  width: 15vw;
  height: 3vw;
  font-size: 20px;
  background-color: #88a47c;
  border: #88a47c;
  color: #e6e2c3;
  border-radius: 20px;
}
div.dane {
  text-align: center;
}
p.nazwa {
  text-transform: uppercase;
}
span {
  font-weight: bold;
}
