div.menu li.ogloszenia {
  font-size: 26px;
  background-color: #3c6255;
}
#wyszukaj {
  padding: 5px;
  margin: 5px;
  background-color: #d0d4ca;
  width: 80vw;
  border: #d0d4ca;
  border-radius: 20px;
}

div.lewy {
  width: 100vw;
  overflow-y: auto;
  height: 70vh;
  overflow-x: hidden;
  scrollbar-color: #3c6255;
  scroll-behavior: smooth;
}

div.odpowiedz_select div {
  background-color: #d0d4ca;
  margin: 5px;
  padding: 5px;
  width: 90vw;
  font-size: 20px;
  color: #1c315e;
  border: #d0d4ca;
  border-radius: 20px;
  cursor: pointer;
}

button.dodaj {
  float: right;
  margin: 5px;
  width: 10vw;
  font-size: 20px;
  background-color: #88a47c;
  border: #88a47c;
  color: #e6e2c3;
  border-radius: 20px;
}
button a {
  color: #e6e2c3;
  text-decoration: none;
}
div.pasek_opcji {
  width: 100vw;
  height: 5vw;
  text-align: center;
}
div.pasek_opcji p {
  font-size: 26px;
  color: #3c6255;
  text-align: center;
  float: left;
  width: 80vw;
}
div.tlo {
  position: absolute;
  margin: 5px;
  bottom: 0%;
  right: 0%;
}
img.lisc {
  width: 40vh;
}
